USE [master]
GO
/****** Object:  Database [AGENDAMENTO]    Script Date: 12/04/2018 08:42:20 ******/
CREATE DATABASE [AGENDAMENTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AGENDAMENTO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AGENDAMENTO.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AGENDAMENTO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AGENDAMENTO_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AGENDAMENTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AGENDAMENTO]
GO
/****** Object:  Table [dbo].[AGENDA]    Script Date: 12/04/2018 08:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGENDA](
	[ID_AGENDA] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](150) NOT NULL,
	[TEL_PRINCIPAL] [varchar](14) NOT NULL,
	[TIPO_TEL_PRINCIPAL] [varchar](20) NULL,
	[CEP_RESIDENCIAL] [varchar](11) NULL,
	[UF_RESIDENCIAL] [varchar](2) NULL,
	[LOCALIDADE_RESIDENCIAL] [varchar](50) NULL,
	[LOGRADOURO_RESIDENCIAL] [varchar](100) NULL,
	[NUMERO_RESIDENCIAL] [varchar](9) NULL,
	[COMPLEMENTO_RESIDENCIAL] [varchar](30) NULL,
	[BAIRRO_RESIDENCIAL] [varchar](40) NULL,
	[NOME_EMPRESA] [varchar](50) NULL,
	[CARGO_EMPRESA] [varchar](30) NULL,
	[CEP_EMPRESA] [varchar](11) NULL,
	[UF_EMPRESA] [varchar](2) NULL,
	[LOCALIDADE_EMPRESA] [varchar](50) NULL,
	[LOGRADOURO_EMPRESA] [varchar](100) NULL,
	[NUMERO_EMPRESA] [varchar](9) NULL,
	[COMPLEMENTO_EMPRESA] [varchar](30) NULL,
	[BAIRRO_EMPRESA] [varchar](40) NULL,
	[FLAG_EXCLUIDO] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AGENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMAIL]    Script Date: 12/04/2018 08:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMAIL](
	[ID_EMAIL] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_EMAIL] [varchar](20) NULL,
	[AGENDA_ID_AGENDA] [int] NOT NULL,
	[EMAIL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TELEFONE]    Script Date: 12/04/2018 08:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TELEFONE](
	[ID_TELEFONE] [int] IDENTITY(1,1) NOT NULL,
	[TEL] [varchar](14) NOT NULL,
	[TIPO_TEL] [varchar](20) NULL,
	[AGENDA_ID_AGENDA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TELEFONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EMAIL]  WITH CHECK ADD FOREIGN KEY([AGENDA_ID_AGENDA])
REFERENCES [dbo].[AGENDA] ([ID_AGENDA])
GO
ALTER TABLE [dbo].[TELEFONE]  WITH CHECK ADD FOREIGN KEY([AGENDA_ID_AGENDA])
REFERENCES [dbo].[AGENDA] ([ID_AGENDA])
GO
USE [master]
GO
